syntax: glob

config.h
config.mk
bin/xbps-bin/xbps-bin
bin/xbps-repo/xbps-repo
bin/xbps-uhelper/xbps-uhelper
bin/xbps-dgraph/xbps-dgraph
bin/xbps-create/xbps-create
*.static
*.so*
*.o
*.a
*.xml
*.png
*.pc
api/
doc/xbps_api_doxyfile
ftperr.h
httperr.h
tests/*/*/*_test
include/xbps_api.h
