syntax: glob

config.h
config.mk
bin/xbps-bin/xbps-bin
bin/xbps-repo/xbps-repo
bin/xbps-create/xbps-create
bin/xbps-dgraph/xbps-dgraph
bin/xbps-install/xbps-install
bin/xbps-pkgdb/xbps-pkgdb
bin/xbps-query/xbps-query
bin/xbps-reconfigure/xbps-reconfigure
bin/xbps-remove/xbps-remove
bin/xbps-rindex/xbps-rindex
bin/xbps-uhelper/xbps-uhelper
*.static
*.so*
*.o
*.a
*.xml
*.png
*.pc
api/
doc/xbps_api_doxyfile
ftperr.h
httperr.h
tests/*/*/*_test
include/xbps.h
