syntax: glob

config.h
config.mk
bin/xbps-alternatives/xbps-alternatives
bin/xbps-create/xbps-create
bin/xbps-dgraph/xbps-dgraph
bin/xbps-fbulk/xbps-fbulk
bin/xbps-install/xbps-install
bin/xbps-pkgdb/xbps-pkgdb
bin/xbps-query/xbps-query
bin/xbps-reconfigure/xbps-reconfigure
bin/xbps-remove/xbps-remove
bin/xbps-rindex/xbps-rindex
bin/xbps-uhelper/xbps-uhelper
bin/xbps-uchroot/xbps-uchroot
bin/xbps-checkvers/xbps-checkvers
bin/xbps-uunshare/xbps-uunshare
bin/xbps-digest/xbps-digest
bin/xbps-fetch/xbps-fetch
bin/xbps-repodb/xbps-repodb
*.static
*.so*
*.o
*.a
*.xml
*.png
*.pc
api/
doc/xbps_api_doxyfile
ftperr.h
httperr.h
tests/*/*/*/*_test
tests/*/*/*/*_tests
tests/*/*/*_test
tests/*/*/*_tests
include/xbps.h

# vim backup files
.*.swp
*~
