<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Default root directory, defaults to / -->
	<key>root-directory</key>
	<string>/</string>

	<!-- Default cache directory to store downloaded binary packages.
	     If string begins with '/' it will be treated as full path,
	     otherwise it will be treated as relative to the root-directory. -->
	<key>cache-directory</key>
	<string>var/cache/xbps</string>

	<!-- Default global limit of cached connections when fetching -->
	<key>fetch-cache-connections</key>
	<integer>10</integer>

	<!-- Default per-host limit of cached connections when fetching -->
	<key>fetch-cache-connections-per-host</key>
	<integer>6</integer>

	<!-- Default timeout limit for connections, in seconds. -->
	<key>fetch-timeout-connection</key>
	<integer>30</integer>
</dict>
</plist>
