<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<!--
	You can specify here your list of repositories, the first
	repository that contains a package will be used for most
	targets in xbps-bin(8) and xbps-repo(8), with the exception
	for updating on which all repositories will be looked at and
	the newest version will be choosen.

	Optionally a non default HTTP port can also be specified such as:
		http://foo.local:8080/xbps-repo

	The order matters, and the top-most matching a package pattern
	or name will be used.

	By default we use the official "public" repositories. You can add
	your own repositories by specifying the path (without the trailing
	'/' character) to the directory where the index.plist file is stored.
	-->
	<string>http://xbps.nopcode.org/repos/current/x86_64</string>
	<string>http://xbps.nopcode.org/repos/current/noarch</string>
</array>
</plist>
