<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>xbps-triggers</key>
	<dict>
		<key>automatic-install</key>
		<true/>
		<key>pkgver</key>
		<string>xbps-triggers-1.0_1</string>
		<key>state</key>
		<string>installed</string>
	</dict>
	<key>glibc</key>
	<dict>
		<key>automatic-install</key>
		<true/>
		<key>pkgver</key>
		<string>glibc-2.20_1</string>
		<key>state</key>
		<string>installed</string>
	</dict>
	<key>attr</key>
	<dict>
		<key>automatic-install</key>
		<true/>
		<key>pkgver</key>
		<string>attr-2.4.46_5</string>
		<key>run_depends</key>
		<array>
			<string>glibc&gt;=2.8_1</string>
		</array>
		<key>state</key>
		<string>installed</string>
	</dict>
	<key>confuse</key>
	<dict>
		<key>automatic-install</key>
		<true/>
		<key>pkgver</key>
		<string>confuse-2.7_2</string>
		<key>run_depends</key>
		<array>
			<string>glibc&gt;=2.8</string>
		</array>
		<key>state</key>
		<string>installed</string>
	</dict>
	<key>bzip2</key>
	<dict>
		<key>automatic-install</key>
		<true/>
		<key>pkgver</key>
		<string>bzip2-1.0.5_1</string>
		<key>run_depends</key>
		<array>
			<string>glibc&gt;=2.8_1</string>
		</array>
		<key>state</key>
		<string>installed</string>
	</dict>
	<key>expat</key>
	<dict>
		<key>automatic-install</key>
		<true/>
		<key>pkgver</key>
		<string>expat-2.1.0_3</string>
		<key>run_depends</key>
		<array>
			<string>glibc&gt;=2.8_1</string>
		</array>
		<key>state</key>
		<string>installed</string>
	</dict>
	<key>libarchive</key>
	<dict>
		<key>automatic-install</key>
		<true/>
		<key>pkgver</key>
		<string>libarchive-3.1.2_1</string>
		<key>run_depends</key>
		<array>
			<string>libssl&gt;=1.0.0_1</string>
			<string>attr&gt;=2.4.43_1</string>
			<string>expat&gt;=2.0.0_1</string>
			<string>liblzma&gt;=5.0.0_1</string>
			<string>bzip2&gt;=1.0.5_1</string>
			<string>zlib&gt;=1.2.3_1</string>
			<string>glibc&gt;=2.8_1</string>
		</array>
		<key>state</key>
		<string>installed</string>
	</dict>
	<key>libfetch</key>
	<dict>
		<key>automatic-install</key>
		<true/>
		<key>pkgver</key>
		<string>libfetch-2.34_1</string>
		<key>run_depends</key>
		<array>
			<string>libssl&gt;=1.0.0_1</string>
			<string>glibc&gt;=2.8_1</string>
		</array>
		<key>state</key>
		<string>installed</string>
	</dict>
	<key>liblzma</key>
	<dict>
		<key>automatic-install</key>
		<true/>
		<key>pkgver</key>
		<string>liblzma-5.0.4_3</string>
		<key>run_depends</key>
		<array>
			<string>glibc&gt;=2.8_1</string>
		</array>
		<key>state</key>
		<string>installed</string>
	</dict>
	<key>libssl</key>
	<dict>
		<key>automatic-install</key>
		<true/>
		<key>pkgver</key>
		<string>libssl-1.0.1e_3</string>
		<key>run_depends</key>
		<array>
			<string>glibc&gt;=2.8_1</string>
			<string>zlib&gt;=1.2.3_1</string>
		</array>
		<key>state</key>
		<string>installed</string>
	</dict>
	<key>libxbps-git</key>
	<dict>
		<key>automatic-install</key>
		<true/>
		<key>pkgver</key>
		<string>libxbps-git-20130310_2</string>
		<key>provides</key>
		<array>
			<string>libxbps-20130310</string>
		</array>
		<key>run_depends</key>
		<array>
			<string>libfetch&gt;=2.33_1</string>
			<string>zlib&gt;=1.2.3_1</string>
			<string>glibc&gt;=2.8_1</string>
			<string>proplib&gt;=0.1_1</string>
			<string>libarchive&gt;=3.1.2_1</string>
			<string>confuse&gt;=2.7_1</string>
			<string>libssl&gt;=1.0.0_1</string>
		</array>
		<key>state</key>
		<string>installed</string>
	</dict>
	<key>proplib</key>
	<dict>
		<key>automatic-install</key>
		<true/>
		<key>pkgver</key>
		<string>proplib-0.6.3_1</string>
		<key>run_depends</key>
		<array>
			<string>zlib&gt;=1.2.3_1</string>
			<string>glibc&gt;=2.8_1</string>
		</array>
		<key>state</key>
		<string>installed</string>
	</dict>
	<key>unexistent-pkg</key>
	<dict>
		<key>automatic-install</key>
		<true/>
		<key>pkgver</key>
		<string>unexistent-pkg-0_1</string>
		<key>run_depends</key>
		<array>
			<string>orphan0-0_1</string>
			<string>orphan1-0_1</string>
		</array>
		<key>state</key>
		<string>installed</string>
	</dict>
	<key>orphan0</key>
	<dict>
		<key>automatic-install</key>
		<true/>
		<key>pkgver</key>
		<string>orphan0-0_1</string>
		<key>state</key>
		<string>installed</string>
	</dict>
	<key>orphan1</key>
	<dict>
		<key>automatic-install</key>
		<true/>
		<key>pkgver</key>
		<string>orphan1-0_1</string>
		<key>state</key>
		<string>installed</string>
	</dict>
	<key>xbps-git</key>
	<dict>
		<key>automatic-install</key>
		<false/>
		<key>pkgver</key>
		<string>xbps-git-20130310_2</string>
		<key>provides</key>
		<array>
			<string>xbps-20130310</string>
		</array>
		<key>run_depends</key>
		<array>
			<string>xbps-triggers&gt;=0</string>
			<string>libxbps-git-20130310_2</string>
			<string>glibc&gt;=2.8_1</string>
			<string>proplib&gt;=0.1_1</string>
			<string>libarchive&gt;=3.1.2_1</string>
			<string>zlib&gt;=1.2_1</string>
		</array>
		<key>state</key>
		<string>installed</string>
	</dict>
	<key>zlib</key>
	<dict>
		<key>automatic-install</key>
		<true/>
		<key>pkgver</key>
		<string>zlib-1.2.7_1</string>
		<key>run_depends</key>
		<array>
			<string>glibc&gt;=2.8</string>
		</array>
		<key>state</key>
		<string>installed</string>
	</dict>
</dict>
</plist>
